* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .logos {
    background: none;
    overflow:hidden;
    width:150%;
    right:50px;
    white-space: nowrap;
    position: relative;
    transform:rotate(-10deg);
    top:-30px;

  }

  .sitelogo{
    display:flex;
    position:fixed;
    color:aliceblue;
    top:3%;
    left:3%;
    align-items: center;
    font-family: 'Poppins', sans-serif;

  }

  .sitelogo img{
    height:75px;
    width: 75px;
    border-radius: 25%;
    margin-right: 25px;
    border-color: aliceblue;
    border-width: 2px;
    border-style: solid;
  }


  
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite cubic-bezier(0.42, 0, 0.58, 1);
    justify-content: center;
    align-items: center;
    transition: animation-timing-function 1s ease;
    }
  
  .logos-slide img {
    width:300px;
    height:169px;
    margin:2px;

    border-radius: 5px;
    border-width: 3px;
    border-color:rgb(45, 45, 46);
    border-style:solid;
    transition-duration: 0.3s;
    cursor: pointer;


  }

  .logos-slide img:hover{
    overflow: hidden;
    transform: scale(1.025);
    transition-duration: 0.3s;
  }

  .sidebar {
    position: fixed;
    right: -400px; /* Initially hidden position */
    width: 400px;
    top:0;
    height: 100%;
    background: #333;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow:hidden;

    transition: right 0.7s ease; /* Use right instead of transform for smooth transition */



    z-index: 5; /* Place sidebar above content and overlay */
  }
  
  .sidebar h1 {
    margin-top:15px;
    border-top:2px red solid ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    border-bottom:2px red solid ;
    color:aliceblue;
    width:100%;
  }

  .reveal{
    position:fixed;
    right:20px;
    top:20px;
    z-index: 10;
    background: none;
    border:none;
    cursor: pointer;
    width:50px;
    height:50px;
    transition: right 0.7s ease, transform 0.7s ease;
 }

  .reveal img{
    width: 100%;
    height:100%;
    filter:invert();
  }

  .sidebar button{
    align-self: center;
    height:75px;
    border-radius: 10px;
    background:none;
    border-color: red;
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
    color:aliceblue;
    font-size: 20px;
    font-style:italic;
    font-weight: bolder;
    margin: 20px 20px;
    box-shadow: 
    0 0 20px rgba(255, 0, 0, 0.75), /* outer shadow */
    inset 0 0 20px rgba(255, 0, 0, 0.75); /* inner shadow */
    width:350px;
    cursor:pointer;
    transition-duration: 0.2s;
    opacity: 0;
    transition: opacity 1s ease;

  }

  .sidebar button:hover{
    box-shadow: 
    0 0 30px rgba(255, 0, 0, 0.75), /* outer shadow */
    inset 0 0 30px rgba(255, 0, 0, 0.75); /* inner shadow */
    transition-duration: 0.2s;
    transform:scale(1.01);
  }

  .sidebar a{
    width:95%;
    align-self: center;
  }
  .sidebar a img{
    width:100%;
    margin-top: 10px;
    border: solid white 3px;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); /* Adjust the color and intensity as needed */
    }
    50% {
      box-shadow: 0 0 20px rgba(0, 255, 0, 0.9);
    }
    100% {
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    }
  }
  
  .latest{
    margin-top:15px;
    border-top:2px red solid ;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    border-bottom:2px red solid ;
    color:aliceblue;
    width:100%;
  }